<!doctype html>
<html lang="en" ng-app="missingApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="helpful friends @ Microsoft">
    <link rel="icon" href="favicon.ico">

    <title>MCSC: Links</title>
    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>

<body>
    <div class="container" ng-controller="missing">
        <div class="row" ng-repeat="tweet in tweets">
            <div class="col-sm-3"><a href="https://twitter.com/statuses/{{tweet.TweetId}}" target="_blank"></a>{{tweet.TweetText}}</a></div>
            <div class="col-sm-3"><a href="{{tweet.LinkInTweet}}" target="_blank">Link</a></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="person.selected" value="person.selected">Form
                        </label>
                    </div>
                    <div id="copy-form" ng-show="person.selected">
                        <div class="row">
                            <div class="col-md-4">Location</div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <input type="text" class="form-control" value="{{tweet.details.location}}" onclick="copyTextToClipboard(this.value);"
                                        readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">Full Name</div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <input type="text" class="form-control" value="{{tweet.details.name}}" onclick="copyTextToClipboard(this.value);"
                                        readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">Age</div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <input type="text" class="form-control" value="{{tweet.details.age}}" onclick="copyTextToClipboard(this.value);"
                                        readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">Height</div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <input type="text" class="form-control" value="{{tweet.details.height}}" onclick="copyTextToClipboard(this.value);"
                                        readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">Weight</div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <input type="text" class="form-control" value="{{tweet.details.weight}}" onclick="copyTextToClipboard(this.value);"
                                        readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">Hair Color/Length</div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <input type="text" class="form-control" value="{{tweet.details.attri}}" onclick="copyTextToClipboard(this.value);"
                                        readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">Sex</div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <input type="text" class="form-control" value="{{tweet.details.sex}}" onclick="copyTextToClipboard(this.value);"
                                        readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    function fallbackCopyTextToClipboard(text) {
        var textArea = document.createElement("textarea");
        textArea.value = text;
        document.body.appendChild(textArea);
        textArea.focus();
        textArea.select();

        try {
            var successful = document.execCommand('copy');
            var msg = successful ? 'successful' : 'unsuccessful';
            console.log('Fallback: Copying text command was ' + msg);
        } catch (err) {
            console.error('Fallback: Oops, unable to copy', err);
        }

        document.body.removeChild(textArea);
    }
    function copyTextToClipboard(text) {
        if (!navigator.clipboard) {
            fallbackCopyTextToClipboard(text);
            return;
        }
        navigator.clipboard.writeText(text).then(function () {
            console.log('Async: Copying to clipboard was successful!');
        }, function (err) {
            console.error('Async: Could not copy text: ', err);
        });
    }
</script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js" crossorigin="anonymous"></script>
<script src="/app.js"></script>

</html>